<ul class="nav nav-tabs" id="myTabs" role="tablist">
    <li class="nav-item" role="presentation">
        <div class="position-relative tabsWithCross">
            <a class="nav-link font-13 active" routerLink="/dashboard" role="tab" aria-controls="tab2" aria-selected="false"><i class="fas fa-th-large cursor-pointer"></i></a>
        </div>
    </li>
    <!-- <li class="nav-item" role="presentation">
        <div class="position-relative tabsWithCross">
            <a class="nav-link font-13" id="tab2-tab" data-bs-toggle="tab" routerLink="/calendar" role="tab" aria-controls="tab2" aria-selected="false">Bookings</a>
            <i class="fal fa-times position-absolute cursor-pointer tab-close" data-tab-target="#tab2" aria-label="Close"></i>
        </div>
    </li> -->
</ul>