<main>
    <div class="main-wrapper">
        <!-- Page Content :: Start  -->
        <div id="content">
            <!-- Top Bar :: Start -->
            <app-header></app-header>
            <!-- Top Bar :: End -->

<div class="mainTabss">
    <app-tabs></app-tabs>
<!-- main Area :: Start -->
            <div class="main-area position-relative">
                
                <div class="page-card-body p-20">
                    <div class="row">
                        <div class="col-lg-3">
                            <app-sidebar></app-sidebar>
                        </div>
                        <div class="col-lg-8">
                            <div class="mb-20">
                                <div class="card border-radius-10 mb-4 main-bg-color">
                                    <div class="card-body p-20">
                                        <div class="breadcrumb-info">
                                            <h2 class="font-18 text-capitalize d-flex align-items-center mb-20">Security App</h2>
                                            <p>Two Factor Authentication is an enhanced security measure. Once enabled, you'll be required to give two types of identification when you log in to Salesdash. SMS authentication is supported.</p>                                                
                                        </div> 
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="card border-radius-10 mb-4 main-bg-color">
                                                    <div class="card-body p-20">
                                                        <div class="breadcrumb-info">
                                                            <h2 class="font-18 text-capitalize d-flex align-items-center mb-20">Security App</h2>
                                                            <p>Get a code from a free app like Google Authenticator, Authy or Duo. The app is always available — even when you don't have phone service.</p>   
                                                                <button type="button" class="btn btn-primary btn-sm text-uppercase " data-bs-dismiss="modal">Save Changes</button>                                             
                                                        </div>                                            
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="card border-radius-10 mb-4 main-bg-color">
                                                    <div class="card-body p-20">
                                                        <div class="breadcrumb-info">
                                                            <h2 class="font-18 text-capitalize d-flex align-items-center mb-20">SMS Text Message</h2>
                                                            <p>You'll receive a 6-digit verification code upon<br> login.</p>    
                                                            <button type="button" class="btn btn-primary btn-sm text-uppercase mt-5" data-bs-dismiss="modal">Save Changes</button>                                            
                                                        </div>                                            
                                                    </div>
                                                </div>
                                            </div>
                                        </div>                                           
                                    </div>
                                    
                                </div>
                                
                            </div>                                                                
                        </div>
                        
                    </div>
                    
                </div>
            </div>
            <!--Footer :: Start-->
</div>
            
        </div>
        <!-- Page Content :: End -->
        <app-footer></app-footer>
        <!--Footer :: End-->
    </div>
</main>