<main>
    <div class="main-wrapper">
        <!-- Page Content :: Start  -->
        <div id="content">
            <app-header></app-header>

            <div class="mainTabss">
                <app-tabs></app-tabs>
            <!-- main Area :: Start -->
            <div class="main-area position-relative">
                <div class="page-card-title d-flex align-items-center justify-content-between">
                    <div class="breadcrumb-info">
                        <h2 class="font-18 text-capitalize d-flex align-items-center mb-0">Bookings</h2>
                    </div>
                    <div class="d-flex align-items-center gap-3">
                        <div class="has-search">
                            <input type="text" name="search_key" id="search_key" (keyup)="searchData()" class="form-control" placeholder="Search User">
                        </div>
                        <a href="javascript:;" (click)="setHeading()" class="btn btn-primary text-uppercase text-center font-12" type="button" data-bs-toggle="modal" data-bs-target="#createTemplate"><i class="far fa-plus me-1"></i> Add</a>
                    </div>
                </div>
                <div class="page-card-body p-3">
                    <div class="table-responsive">
                            <table class="table table-bordered table-striped position-relative">
                                <thead>
                                    <tr>
                                        <th class="text-uppercase whitespace-nowrap text-start">S.NO</th>
                                        <th class="text-uppercase whitespace-nowrap">Name</th>
                                        <th class="text-uppercase whitespace-nowrap">Email Address</th>
                                        <th class="text-uppercase whitespace-nowrap">Phone</th>
                                        <th class="text-uppercase whitespace-nowrap">Event Date</th>
                                        <th class="text-uppercase whitespace-nowrap">Location</th>
                                        <th class="text-uppercase whitespace-nowrap">No Of Guest</th>
                                        <th class="text-uppercase whitespace-nowrap">Ad. Amt</th>
                                        <th class="text-uppercase whitespace-nowrap">Logistic</th>
                                        <th class="text-uppercase whitespace-nowrap">GST</th>
                                        <th class="text-uppercase whitespace-nowrap">Total</th>
                                        <th class="text-uppercase whitespace-nowrap">Date</th>
                                        <th class="text-uppercase whitespace-nowrap">ACTION</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let user of users | paginate: { itemsPerPage: 10, currentPage: p, totalItems: total }; index as i">
                                        <td class="whitespace-nowrap text-start">{{i+1}}</td>
                                        <td class="whitespace-nowrap">{{user.name}}</td>
                                        <td class="whitespace-nowrap">{{user.email}}</td>
                                        <td class="whitespace-nowrap">{{user.phone}}</td>
                                        <td class="whitespace-nowrap">{{user.display_event_date}}</td>
                                        <td class="whitespace-nowrap">{{user.location}}</td>
                                        <td class="whitespace-nowrap">{{user.no_of_guest}}</td>
                                        <td class="whitespace-nowrap">{{user.advance_amt}}</td>
                                        <td class="whitespace-nowrap">{{user.logistic}}</td>
                                        <td class="whitespace-nowrap">{{user.gst_amt}}</td>
                                        <td class="whitespace-nowrap">{{user.total}}</td>
                                        
                                        <td class="text-capitalize whitespace-nowrap">{{user.display_date}}</td>
                                        <td class="text-capitalize whitespace-nowrap">
                                            <a href="javascript:;" data-bs-toggle="modal" data-bs-target="#createTemplate" (click)="getUser(user.id)" class="text-capitalize font-12 text-info me-3">
                                                <i class="far fa-edit"></i>
                                            </a>
                                            <a href="javascript:;" (click)="Delete(user.id)" class="text-capitalize font-12 text-red" data-bs-toggle="modal" data-bs-target="#deleteTemplate">
                                                <i class="far fa-trash-alt"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr><td colspan="10"><div class="pagiation"><pagination-controls (pageChange)="pageChangeEvent($event)"></pagination-controls></div></td></tr>

                                    
                                </tbody>
                            </table>
                        </div>
                </div>
            </div>
            <!-- main Area :: End -->
            </div>

            <!--Footer :: Start-->
        </div>
        <app-footer></app-footer>
    </div>
</main>

<!-- CreateTemplate Edit Modal Starts  -->
<div class="modal fade" id="createTemplate">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header border-0 text-bg-light align-items-center">
                <div class="d-flex justify-content-between w-100 me-3">
                    <h4 class="modal-title font-16">{{heading}}</h4>
                </div>
                <button type="button" id="closeBtn" class="btn-close font12" data-bs-dismiss="modal"></button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <form class="mt-0">
                    <div class="row">
                    <div class="col-lg-6">
                    <div class="input-group mb-3">
                    <span class="input-group-text font-12">Name</span>
                    <input type="text" class="form-control" id="name">
                    <input type="hidden" id="r_id">
                    </div>
                    </div>
                    <div class="col-lg-6">
                    <div class="input-group mb-3">
                    <span class="input-group-text font-12">Phone</span>
                    <input type="text" maxlength="10" id="phone" class="form-control" >
                    </div>
                    </div>
                    </div>
                    <div class="row">
                    <div class="col-lg-6">
                    <div class="input-group mb-3">
                        <span class="input-group-text font-12">Email</span>
                        <input type="text" id="email" class="form-control">
                    </div>
                    </div>
                    <div class="col-lg-6">
                    <div class="input-group mb-3">
                        <span class="input-group-text font-12">Event Date</span>
                        <input type="date" id="event_date" class="form-control" >
                    </div>
                    </div>
                    
                    </div>

                    <div class="row">
                    <div class="col-lg-12">
                    <div class="input-group mb-3">
                        <span class="input-group-text font-12">Address</span>
                        <input type="text" id="address" class="form-control">
                    </div>
                    </div>
                    
                    
                    </div>
                    <div class="row">
                    <div class="col-lg-3">
                    <div class="input-group mb-3">
                        <span class="input-group-text font-12">Location</span>
                        <input type="text" id="location" class="form-control">
                    </div>
                    </div>
                    <div class="col-lg-3">
                    <div class="input-group mb-3">
                        <span class="input-group-text font-12">No of Guest</span>
                        <input type="text" id="no_of_guest" class="form-control" >
                    </div>
                    </div>
                    <div class="col-lg-3">
                    <div class="input-group mb-3">
                        <span class="input-group-text font-12">Vehicle No</span>
                        <input type="text" id="vehicle_no" class="form-control">
                    </div>
                    </div>
                    <div class="col-lg-3">
                    <div class="input-group mb-3">
                        <span class="input-group-text font-12">Deleivery</span>
                        <input type="text" id="deleivery_time" class="form-control" >
                    </div>
                    </div>

                    </div>
                    <div class="row">
                    <div class="col-lg-5">
                    <div class="input-group mb-3">
                        <span class="input-group-text font-12">Location URL</span>
                        <input type="text" id="location_url" class="form-control">
                    </div>
                    </div>
                    <div class="col-lg-4">
                    <div class="input-group mb-3">
                        <select  class="form-select" id="logistic_range"  >
                            <option value="">Logistic Range</option>
                            <option *ngFor="let range of ranges" value="{{range?.id}}">{{range?.title}} KM</option>
                        </select>
                    </div>
                    </div>
                    <div class="col-lg-3">
                    <div class="input-group mb-3">
                        <span class="input-group-text font-12">GST</span>
                        <select class="form-select" id="gst">
                            <option value="5">5%</option>
                            <option value="9">9%</option>
                            <option value="18">18%</option>
                            <option value="28">28%</option>
                        </select>
                    </div>
                    </div>

                    </div>
                    <div class="row">
                    <div class="col-lg-4">
                    <div class="input-group mb-3">
                        <span class="input-group-text font-12">Advance Amt</span>
                        <input type="text" id="advance_amt" class="form-control" >
                    </div>
                    </div>
                    <div class="col-lg-3">
                    <div class="input-group mb-3">
                        <span class="input-group-text font-12">Payment Mode</span>
                        <select class="form-control" id="payment_mode">
                            <option value="Cash">Cash</option>
                            <option value="UPI">UPI</option>
                            <option value="Cheque">Cheque</option>
                            <option value="Net Banking">Net Banking</option>
                            <option value="Account Deposit">Account Deposit</option>
                        </select>
                    </div>
                    </div>
                    <div class="col-lg-4">
                    <div class="input-group mb-3">
                        <span class="input-group-text font-12">Payment Date</span>
                        <input type="date" id="advance_date" class="form-control" >
                    </div>
                    </div>
                    <div class="col-lg-1">
                    <div class="input-group mb-3">
                        <a (click)="addPaymentRow()" title="Create Invoice" class="btn btn-warning btn-sm text-uppercase" ><i class="fas fa-plus"></i></a>
                    </div>
                    </div>
                    
                    </div>

                    <div class="row" *ngFor="let payment of payments; index as j">
                    <div class="col-lg-4">
                    <div class="input-group mb-3">
                        <span class="input-group-text font-12">Amount</span>
                        <input type="text" [id]="'amount_'+j" value="{{payment?.amount}}" (blur)="setAmount(j)" class="form-control" >
                    </div>
                    </div>
                    <div class="col-lg-3">
                    <div class="input-group mb-3">
                        <span class="input-group-text font-12">Payment Mode</span>
                        <select [id]="'payment_method_'+j" (change)="setPaymentMethod(j)" class="form-control">
                            <option [selected]="payment?.payment_method == 'Cash'" value="Cash">Cash</option>
                            <option [selected]="payment?.payment_method == 'UPI'" value="UPI">UPI</option>
                            <option [selected]="payment?.payment_method == 'Cheque'" value="Cheque">Cheque</option>
                            <option [selected]="payment?.payment_method == 'Net Banking'" value="Net Banking">Net Banking</option>
                            <option [selected]="payment?.payment_method == 'Account Deposit'" value="Account Deposit">Account Deposit</option>
                        </select>
                    </div>
                    </div>
                    <div class="col-lg-4">
                    <div class="input-group mb-3">
                        <span class="input-group-text font-12">Payment Date</span>
                        <input [id]="'payment_date_'+j" type="date" value="{{payment?.payment_date}}" (blur)="setPaymentDate(j)" id="advance_amt" class="form-control" >
                    </div>
                    </div>
                    <div class="col-lg-1">
                    <div class="input-group mb-3">
                        <a  (click)="removePaymentRow(j)" title="Create Invoice" class="btn btn-danger btn-sm text-uppercase" ><i class="fas fa-trash"></i></a>
                    </div>
                    </div>
                    
                    </div>
                    

                    <hr>

                    <div class="row" *ngFor="let eventTypesRow of eventTypesRows; index as i">
                    <div class="col-lg-4">
                    <div class="input-group mb-3">
                        <span class="input-group-text font-12">Event Type</span>
                        <select  class="form-select" [id]="'event_type_id_'+i" (change)="setEventType(i)" >
                            <option value="">Select Event Type</option>
                            <option *ngFor="let eventType of eventTypes" [selected]="eventTypesRow?.event_type_id == eventType?.id" value="{{eventType?.id}}">{{eventType?.title}}</option>
                        </select>
                    </div>
                    </div>
                    <div class="col-lg-4">
                    <div class="input-group mb-3">
                        <span class="input-group-text font-12">@ Person Rate</span>
                        <input type="text" [id]="'per_person_rate_'+i" value="{{eventTypesRow?.per_person}}" maxlength="4" (blur)="setPerPerson(i)" class="form-control" >
                    </div>
                    </div>
                    <div class="col-lg-3">
                    <div class="input-group mb-3">
                        <span class="input-group-text font-12">No of Guest</span>
                        <input type="text" [id]="'no_of_guest_'+i" value="{{eventTypesRow?.no_of_guest}}" (blur)="setNoOfGuest(i)" class="form-control" >
                    </div>
                    </div>
                    <div class="col-lg-1">
                    <div class="input-group mb-3">
                       
                        <a  (click)="removeRow(i)" title="Create Invoice" class="btn btn-danger btn-sm text-uppercase" ><i class="fas fa-trash"></i></a>
                    </div>
                    </div>
                    
                     
                    </div>
                <div class="row" >
                <div class="col-lg-11"></div>
                <div class="col-lg-1">
                <div class="input-group mb-3">

                <a (click)="addMore()" title="Create Invoice" class="btn btn-warning btn-sm text-uppercase" ><i class="fas fa-plus"></i></a>
                </div>
                </div>
                </div>
                    
                  <!-- {{this.payments | json}}  -->
                </form>

            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button (click)="Create()" id="addUserBtn" type="button" class="btn btn-primary btn-sm text-uppercase" >Save</button>
            </div>
        </div>
    </div>
</div>
<!-- CreateTemplate Edit Modal Ends  -->