@media (min-width: 992px) {
    .modal-lg, .modal-xl {
        --bs-modal-width: 998px !important;
    }
}
.pending{background: #f59e0b;
padding: 1px 4px;
border-radius: 4px;
color: #fff;}
.confirmed{background: #10b981;
padding: 1px 4px;
border-radius: 4px;
color: #fff;}
.completed{background: #3b82f6;
padding: 1px 4px;
border-radius: 4px;
color: #fff;}
.cancelled{background: #ef4444;
padding: 1px 4px;
border-radius: 4px;
color: #fff;}