<div class="mb-4">
    <div class="mb-4">
        <div class="card-body p-20">
            <h2 class="font-18 mb-3 text-capitalize d-flex align-items-center">Settings</h2>                                        
            <ul class="mt-4">
                <li><a routerLink="/profile" class="active" style="color: #0d4eba;"><i class="fas fa-user-circle  mb-20"></i> Profile Picture</a></li>
                <li><a routerLink="/company-authentication"><i class="fas fa-lock  mb-20"></i> 2 Factor Authentication</a></li>
                <li><a routerLink="/company-settings"><i class="fas fa-cog  mb-20"></i> Company Settings</a></li>
                <li><a routerLink="/company-notifications"><i class="fas fa-bell  mb-20"></i> Notifications</a></li>
                <li><a routerLink="/change-password"><i class="fas fa-lock  mb-20"></i> Reset Password</a></li>                                                
            </ul>
        </div>
    </div>
</div>