<main>
    <div class="main-wrapper">
        <!-- Page Content :: Start  -->
        <div id="content">
            <!-- Top Bar :: Start -->
            <app-header></app-header> 
            <!-- Top Bar :: End -->

            <div class="mainTabss">
    <app-tabs></app-tabs>
     <!-- main Area :: Start -->
            <div class="main-area position-relative">
                <div class="page-card-body p-20">
                    <div class="row">
                        <div class="col-lg-3">
                            <app-sidebar></app-sidebar>
                        </div>
                        <div class="col-lg-8">
                            <div class="mb-20">
                                <div class="card border-radius-10 mb-4 main-bg-color">
                                    <div class="card-body p-20">
                                        <div class="breadcrumb-info">
                                            <h2 class="font-18 text-capitalize d-flex align-items-center mb-20">Notification Settings</h2>
                                            <p>Task Reminder Interval</p>    
                                            <span class="font-12">15 Mintues<br>would you like to be notified when a deal has been marker as won by team members?</span> <br>
                                            <button type="button" class="btn btn-primary btn-sm text-uppercase mt-5" data-bs-dismiss="modal">Save Changes</button>                                           
                                        </div> 
                                                                                
                                    </div>
                                    
                                </div>
                                
                            </div>                                                                
                        </div>
                        
                    </div>
                    
                </div>
            </div>
            <!--Footer :: Start-->
    </div>

           
        </div>
        <!-- Page Content :: End -->
        <app-footer></app-footer>
        <!--Footer :: End-->
    </div>
</main>