<main class="account login-area position-relative">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12">
				<div class="right-panel">
					<div class="border rounded p-5">
						
					<img src="assets/images/logo-dark1.png" style="width:68px;" class="img-fluid right-logo d-block mx-auto"/>
					<div class="form-area mt-5">
						<div class="form-text text-center">
							<p>Forgot Password</p>
							<span>Enter your email address to retrieve your password</span>
						</div>
						<form method="post">
							<div class="form-group">
								<input type="text" class="form-control" name="userid" id="username" placeholder="Enter User ID"/>
							</div>
							<div class="row">
								<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
									
								</div>
								<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 text-end">
									<a routerLink="/" class="font-weight-400">Login?</a>
								</div>
							</div>
							<div class="row">
								<div class="col-xl-12 col-lg-12 d-grid submit-btn">
									<a id="loginBtn" type="button" class="btn btn-primary py-2 text-uppercase">Submit</a>
								</div>
							</div>
						</form>
					</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>