<main>
    <div class="main-wrapper">
        <!-- Page Content :: Start  -->
        <div id="content">
            <app-header></app-header>

            <div class="mainTabss">
                <app-tabs></app-tabs>
            <!-- main Area :: Start -->
            <div class="main-area position-relative">
                <div class="page-card-title d-flex align-items-center justify-content-between">
                    <div class="breadcrumb-info">
                        <h2 class="font-18 text-capitalize d-flex align-items-center mb-0">Employees</h2>
                    </div>
                    <div class="d-flex align-items-center gap-3">
                        <div class="has-search">
                            <input type="text" name="search_key" id="search_key" (keyup)="searchData()" class="form-control" placeholder="Search User">
                        </div>
                        <a href="javascript:;" (click)="setHeading()" class="btn btn-primary text-uppercase text-center font-12" type="button" data-bs-toggle="modal" data-bs-target="#createTemplate"><i class="far fa-plus me-1"></i> Add</a>
                    </div>
                </div>
                <div class="page-card-body p-3">
                    <div class="table-responsive">
                            <table class="table table-bordered table-striped position-relative">
                                <thead>
                                    <tr>
                                        <th class="text-uppercase whitespace-nowrap text-start">S.NO</th>
                                        <th class="text-uppercase whitespace-nowrap">Name</th>
                                        <th class="text-uppercase whitespace-nowrap">Email Address</th>
                                        <th class="text-uppercase whitespace-nowrap">Phone</th>
                                        <th class="text-uppercase whitespace-nowrap">Role</th>
                                        <th class="text-uppercase whitespace-nowrap">Level</th>
                                        <th class="text-uppercase whitespace-nowrap">Status</th>
                                        <th class="text-uppercase whitespace-nowrap">Date</th>
                                        <th class="text-uppercase whitespace-nowrap">ACTION</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let user of users | paginate: { itemsPerPage: 10, currentPage: p, totalItems: total }; index as i">
                                        <td class="whitespace-nowrap text-start">{{i+1}}</td>
                                        <td class="whitespace-nowrap">{{user.name}}</td>
                                        <td class="whitespace-nowrap">{{user.email}}</td>
                                        <td class="whitespace-nowrap">{{user.phone}}</td>
                                        <td class="whitespace-nowrap">{{user.designation}}</td>
                                        <td class="whitespace-nowrap">{{user.level}}</td>
                                        <td>
                                            <a style="cursor:pointer" (click)="updateStatus(user.id,'2')" *ngIf="user.status == 1" class="btn btn-sm btn-outline-success text-uppercase text-center font-12 me-2">Active</a>
                                            <a style="cursor:pointer" (click)="updateStatus(user.id,'1')" *ngIf="user.status == 2" class="btn btn-sm btn-outline-danger text-uppercase text-center font-12 me-2">Inactive</a>
                                        </td>
                                        <td class="text-capitalize whitespace-nowrap">{{user.created_date}}</td>
                                        <td class="text-capitalize whitespace-nowrap">
                                            <a href="javascript:;" data-bs-toggle="modal" data-bs-target="#createTemplate" (click)="getUser(user.id)" class="text-capitalize font-12 text-info me-3">
                                                <i class="far fa-edit"></i>
                                            </a>
                                            <a href="javascript:;" (click)="Delete(user.id)" class="text-capitalize font-12 text-red" data-bs-toggle="modal" data-bs-target="#deleteTemplate">
                                                <i class="far fa-trash-alt"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr><td colspan="10"><div class="pagiation"><pagination-controls (pageChange)="pageChangeEvent($event)"></pagination-controls></div></td></tr>

                                    
                                </tbody>
                            </table>
                        </div>
                </div>
            </div>
            <!-- main Area :: End -->
            </div>

            <!--Footer :: Start-->
        </div>
        <app-footer></app-footer>
    </div>
</main>

<!-- CreateTemplate Edit Modal Starts  -->
<div class="modal fade" id="createTemplate">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header border-0 text-bg-light align-items-center">
                <div class="d-flex justify-content-between w-100 me-3">
                    <h4 class="modal-title font-16">{{heading}}</h4>
                </div>
                <button type="button" id="closeBtn" class="btn-close font12" data-bs-dismiss="modal"></button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <form class="mt-0">
                    <div class="input-group mb-3">
                        <select class="form-control" id="level">
                            <option value="">Level</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text font-12">Name</span>
                        <input type="text" class="form-control" id="name" aria-label="Username" aria-describedby="basic-addon1">
                        <input type="hidden" id="r_id">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text font-12">Phone</span>
                        <input type="text" maxlength="10" id="phone" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text font-12">Email</span>
                        <input type="text" id="email" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text font-12">Role</span>
                        <input type="text" id="role" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text font-12">Password</span>
                        <input type="text" id="password" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                    
                    <!-- <div class="input-group mb-3">
                        <select class="form-control" id="f_city">
                            <option value="">Facnchise City</option>
                            <option *ngFor="let franch of franchise" value="{{franch.id}}">{{franch.name}}</option>
                        </select>
                    </div> -->
                   
                    
                </form>

            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button (click)="Create()" id="addUserBtn" type="button" class="btn btn-primary btn-sm text-uppercase" >Save</button>
            </div>
        </div>
    </div>
</div>
<!-- CreateTemplate Edit Modal Ends  -->